---
title: "Breaking my own code and fixing it so that hackers don't - featuring formal verification using Certora"
pubDatetime: 2026-01-04
tags:
  - "huff"
  - "evm-optimization"
  - "algorithms"
description: "Certora helped me uncover some bugs in my code using formal verification"
---


First was posted in detailed on X - [Article 1](https://x.com/0xumarkhatab/status/2012858506697941279?s=20)
